<div class="max-w-7xl mx-auto px-4 " >

  <div class="filters mb-4 w-full max-w-md mx-auto">
    <mat-form-field class="w-full">
      <mat-label class="font-bold">Category</mat-label>
      <mat-select (selectionChange)="updateCategory($event.value)" class="w-full">
        <mat-option value="None">None</mat-option>
        @for (category of categories; track category) {
          <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  @defer {
    @if (isLoading()) {
      <div class="flex items-center justify-center ">
        <div class="text-center">
          <giftTech-gift-animation></giftTech-gift-animation>
        </div>
      </div>

    }
    @else {
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4  animate__animated animate__lightSpeedInRight" >
        @if (filteredGifts().length) {
          @for (gift of filteredGifts(); track gift.id) {
            <mat-card class="example-card flex flex-col justify-between" appearance="outlined">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ gift.name }}</mat-card-title>
                <mat-card-subtitle>
                <p class="custom-text">Condition: {{ gift.condition }}</p>
                </mat-card-subtitle>
              </mat-card-header>


              <img mat-card-image [src]="gift.image" alt="Photo of {{ gift.name }}">
              <mat-card-content>
                <p class="custom-text">{{ gift.description }}</p>
              </mat-card-content>
              <mat-card-actions class="mt-4">
                @if (gift.claimed)
                {
                  <mat-chip>Request has been sent.</mat-chip>
                }
                @else
                {
                  <button mat-stroked-button (click)="claimGift(gift.id)">Claim</button>
                }
              </mat-card-actions>
            </mat-card>

          }
        } @else {
          <p>No items available.</p>
        }
      </div>
    }
  } @error {
    <div class="text-center">
      <p>Error loading gifts. Please try again later.</p>
    </div>
  }
</div>
