<mat-nav-list>

  <mat-list-item routerLink="/home">
    <mat-icon matListItemIcon>home</mat-icon>
    <div matListItemTitle>HomePage</div>
  </mat-list-item>

  <mat-list-item routerLink="/my-gifts">
    <mat-icon matListItemIcon>redeem</mat-icon>
    <div matListItemTitle>My Gifts</div>
  </mat-list-item>

  <mat-list-item routerLink="/profile/new-product">
    <mat-icon matListItemIcon>cake_add</mat-icon>
    <div matListItemTitle>Add Gift</div>
  </mat-list-item>

  <mat-list-item routerLink="/profile/sell-history">
    <mat-icon matListItemIcon>settings</mat-icon>
    <div matListItemTitle>Another Option</div>
  </mat-list-item>

</mat-nav-list>
