<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
  @for ( gift of myGifts; track gift.id)
  {
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>

        <div mat-card-avatar class="example-header-image"></div>

        <mat-card-title>{{ gift.name }}</mat-card-title>
      </mat-card-header>
      <p>Category: {{ gift.category }}</p>
      <p>Condition: {{ gift.condition }}</p>
      <img mat-card-image [src]="gift.image" alt="Photo of {{ gift.name }}">
      <mat-card-content>
        <p>{{ gift.description }}</p>

      </mat-card-content>
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>
  }
  @empty
  {
    <p>No items available.</p>
  }


</div>
