<div class="max-w-7xl mx-auto px-4 " >
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4  animate__animated animate__lightSpeedInRight" >
  @for ( gift of myGifts; track gift.id)
  {
    <mat-card class="example-card flex flex-col justify-between" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ gift.name }}</mat-card-title>
        <mat-card-subtitle>
          <p class="custom-text">Condition: {{ gift.condition }}</p>
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="gift.image" alt="Photo of {{ gift.name }}">
      <mat-card-content>
        <p class="custom-text">{{ gift.description }}</p>

      </mat-card-content>
      <mat-card-actions>
        @if (gift.given)
        {
          <mat-chip>Claimed</mat-chip>
        }
        @else
        {
          <button mat-raised-button class="p-1"  (click)="toInboxRequest(gift)">Inbox Request</button>
        }

      </mat-card-actions>
    </mat-card>
  }
  @empty
  {
    <p>No items available.</p>
  }


</div>
</div>
